.student{
    display: flex;
    border-bottom: 1px solid lightgray;
    box-shadow: 5px 5px 10px lightcyan;  
}
.img{
    padding: 5px;
    margin-top: 5px;
}
.img-border{
    border-radius: 50%;
    border: 3px solid lightgray;
 
}
.heading{
    text-align: center;
    margin-left: 40px;
    color: blue;
}
.paragraph{
    text-align: center;
    margin-left: 50px;
    font-size: smaller;
}
.main-button{
    background-color: lightgreen;
    width: 150px;
    height: 30px;
    border: 1px solid darkgray;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}